body{ 
	margin: 0px; 
	font-family: 'Lato', sans-serif;	
}

td {
	margin: 0px;
	padding: 0px;
	border: none;
}

a{
	text-decoration: none;
}


/* Nav Bar CSS */

.sign-out{
	float: right;
	display: block;
	text-decoration: none;
	margin-right: 10px;
}

.navbar {
	margin-bottom: 0px;
	margin-left: 140px;
	border-bottom: 1px solid; 
	border-color: #BDC3C7;
	text-decoration: none;
	position: absolute;
	opacity: .7;
	width: calc(100% - 140px);
}

.page-title{
	font-size: 20px;
	font-weight: lighter;
	text-decoration: none;
}

.navbar-inner {
	line-height: 20px;	
	background: white;
	border-radius: 0;
	padding: 10px 10px 10px 10px;
	min-height: 0px;
}

.navbar-inner a{
	color: #2980B9;
}
/*Everything below*/

.container{
	padding: 0px;
	height: 100vh; 
}

.content{
	height: 100vh;
}

/*Columns*/

.col-inner{
	padding-top: 42px;
	height: 100vh;
}

.sidebar{
	width: 140px;	
	min-width: 140px;
	height: 100vh;
	background-color: #ECF0F1;
	vertical-align: top;
	padding-top: 42px;
}

.sidebar-email{ 
	height: 100vh;
	width: 300px;
	/*overflow: auto;*/
}

.email-view{
	height: 100vh;
	margin-left: 10px;
	min-width: 300px;
	/*background-color: #D6E2EE;*/
	background-color: white;
}

.to-do-list {
	width: 325px;
	height: 100vh;
	/*background-color: red;*/
}

/*Short Emails */
.short-email{
	width: 300px;
	height: 60px;
	padding: 10px;
	border: 1px solid;
	border-color: #ECF0F1;
	font-size: 12px;
}

.short-emails{
	overflow: auto;
}

.selected-short-email{
	background-color: #D1E3F5;
	/*#D1E3F5*/
}

.short-email .text.selected-short-email-text{
	color: #7F8C8D;
}
/*.short-email-scrollable{
	height: 60px;
	width: 325px;
}*/

/*.short-email-inner{
	width: 325px;
}*/

.author{
	font-size: 14px;
	font-weight: thick;
}

.short-email-inner .subject {
	margin-top: 3px;
	padding: 0px;
}


.time{
	color: #3498DB;
	float: right;
	font-size: 11px;
	margin-top: 2px;	
}

.short-email p{
	margin: 0px;
}

.short-email .text{
	color: #95A5A6;
	font-weight: thin;
}


/* Folders on Left */

ul.folders{
	list-style-type: none;
	text-align: left;
	margin-left: 0px;
	padding-left: 12px;
}

ul.folders li{
	margin-top: 10px;
	text-align: left;
}

.category{
	text-decoration: none; 
	font-size: 15px;
}

.category a{
	color: #7F8C8D;
}

.category a:hover{
	color: #2980B9;
}

.selected-cat a{
	font-weight: bold; 
	font-size: 15px;
	color: #2980B9;
	/*text-decoration: underline;	*/
}

.cat-unread{
	float: right;
	font-size: 12px;
	margin-right: 10px;
	padding: 3px;
	text-align: middle;
	font-weight: thin;
	background-color: #E74C3C;
	color: white;
	border-radius: 12px;
}

ul.inbox-detailed{
	list-style-type: none;
	text-align: left;
	/*margin-left: 5px;*/
	padding-left: 10px;
	font-size: 12px;
}

ul.inbox-detailed li{
	padding-bottom: 2px;
	margin-bottom: 0px;
	color: #7F8C8D;
}

ul.inbox-detailed li:hover{
	color: #2980B9;
}


/* Email Column */
.email {
	/*margin-bottom: 25px;*/
	padding-bottom: 25px;
}

.email-content{
	border: 1px solid;
	border-color: #BDC3C7;
	border-radius: 5px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	margin-top: 10px;
	background-color: white;
	font-size: 12px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.email-content p{
	padding: 0px;
	margin: 0px;
}

.email-author{
	font-weight: bold;
}

.email-recipients{
	color: #95A5A6;
}

.subject-container{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.selected-subject-container{
	background-color: #D1E3F5;
}

h1.current-email-subject{
	margin-left: 0px;
	padding: 5px;
	margin-top: 0px;
	font-size: 17px;
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-color: #BDC3C7;
	color: black;
}

.subject-notifier{
	font-size: 12px;
	color: #7F8C8D;
	font-weight: bold;
	margin-right: 3px;
}



